body{
    
   
}
.addIMG{
    margin-bottom: 50px;
    padding: 20px 10%;
}
i{
    transform: translateY(2px);
}

.title.category {
    color:black;
    text-align: center;
    transform: translateY(10px);
}
.catBlock{
    color:blue;
    text-align: center;
    margin-bottom: 30px;
}
.radio{
    display: inline-block;
}



.catBlock input, .catBlock label{
    padding: 30px 10px 0 10px;
}
.catBlock input{
    margin-left: 60px;

}
.button{
    margin-left: 50%;
    margin-top: 5px;
}




hr{
    margin-bottom: 50px;
    border-width: 5px;
}


.grid::before{
    content: "double-click an image to edit or delete";
    position: absolute;
    transform: translateY(-30px);
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 100px 1fr;
    padding: 20px 10%;

}

.tidy{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
}
.dimensions, .title, .tidy p{
    margin: 0;
    padding: 0;
}
img{
    width:40%;
    padding-top: 40px;
}
