html,body{
    margin: 0;
    background-color: rgb(6, 2, 39);

}


          /*   //   Opening Section    //     */

#header-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85vh 15vh;
}
.header-img{
    grid-column: 1/-1;
    background-size: cover;
    background-position: bottom center;
}
header{
    grid-column: 1/-1;
    color: tan;
}
.logo{
    display: block;
    text-align: center;
   
}
.bethOwen{
    margin: 15px 0 0;
    display: inline-block;
}
.watercolor{
    margin-top: 0;
    
}
.mobile-nav{
    color: tan;
    background-color: rgb(6, 2, 39);
    z-index: 0;
    position: relative;
    top: -25px;
}
nav{
   display: block;
   text-align: center;
   padding-top: 5px;
   font-size: 20px;
} 
ul{
    list-style-type: none;
    padding-inline-start: 0;
    background-color: rgb(6, 2, 39);
    
}
li{
    display: inline-block;
    padding: 0 5%;
    
}
li a{
    text-decoration: none;
    color: inherit;
}
.contact{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
}
div a{
    color: tan;
    text-decoration: none;
}
i{
    position: absolute;
    right: 7%;
    margin-top: 30px;
    display: inline-block;
    color: tan;
    font-size: 20px;
}



      /*   // SPACER  //     */

.spacer{
    width: 100%;
    height: 75vh;
    background-color: rgb(6, 2, 39);
}




  /*   // Origional Options (after click original btn) //     */

.originals{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 80px 1fr;
    grid-row-gap: 50px;
    padding: 0 5% 70px;
    background-color: rgb(6, 2, 39);
    color: white;
    height: 78vh;
    animation: riseAndFade 1.5s ease-in-out forwards;

}
.originals h3{
    grid-column: 1/-1;
    text-align: center;
    font-size: 30px;
    animation: titleRise 2s ease-out forwards;
    align-self: flex-end;
}
.originals p{
    text-align: center;
    font-size: 20px;
}
.originals img{
    max-width: 100%;
}
.originals img:active{
    filter: grayscale(1);
}

  /*   // Print Options (after click Prints btn) //     */
  .prints{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 80px 1fr;
    grid-row-gap: 50px;
    padding: 0 5% 70px;
    background-color: rgb(6, 2, 39);
    color: white;
    animation: riseAndFade 1.5s ease-in-out forwards;
    height: 78vh;
}
.prints h3{
    grid-column: 1/-1;
    text-align: center;
    font-size: 30px;
    animation: titleRise 2s ease-out forwards;
    align-self: flex-end;
}


.prints p{
    text-align: center;
    font-size: 20px;
}
.prints img{
    max-width: 100%;
}
.prints img:active{
    filter: grayscale(1);
}


  /*   // BELOW ARE ALL THE CONTENTS //     */
  /*   // They are set in a grid they all share on their turn //     */

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 80px 1fr;
    grid-row-gap: 50px;
    padding: 0 5% 70px;
    background-color: rgb(6, 2, 39);
    color: white;
}
.container h3{
    text-align: center;
    font-size: 30px;
    grid-column: 1;
}

/* body > div.originalFlowers.container > div.imgONE > img */
.container img{
    max-width: 100%;
}
.container p{
    text-align: center;
}
.title{
    font-size: 30px;
}
.container p:last-child{
    margin-bottom: 300px;
}


/*   All The hidden element onload   */

.hidden {
    display: none;
}


.moreComingSoon{
    height: 78vh;
}
.container.moreComingSoon h3{
    grid-column: 1;
}
.container.moreComingSoon h3:nth-child(2){
    grid-row: 2;
    grid-column: 2/4;
    min-width: 200px;
}
.moveDown{
    transform: translateY(100px);
}


/* for the title */
@keyframes titleRise{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* for the category btns*/
@keyframes riseAndFade{
    0%{
        transform: translateY(30px);
     
    }
   
    100%{
        transform: translateY(0px);
        

    }
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 588px){
    .hideOnMobile{
        display: none;
    }
}
@media only screen and (min-width: 587px){
    .mobile-nav{
        display: none;
    }
}